[Desktop Entry]
Type=Application
Name=Castmorphic Subtitles
Comment=Download YouTube subtitles only, in any available language
Exec=AppRun %u
Icon=castmorphic-subtitles
Categories=Utility;AudioVideo;
Terminal=false
